#myprojects {
    height: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.project-desc{
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #myprojects {
        height: auto;
    }
}