#techStack{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stackflex{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4,minmax(0, 4fr));
    justify-items: center;
    margin: 2% 0;
} 
.stackflex img{
    margin: 4% 0;
}
.stackflex1 {
    margin-top: 5%;
}
.stack{
    width: 5vw;
    padding: 4%;
    display: flex;
}

@media only screen and (max-width: 600px){
    #techStack{
        height: 50vh;
    }
    .stackflex{
        width: 100%;
    }
    .stack{
        width: 10vw;
        padding: 4%;
    }
}