.profile{
    display: flex;
    justify-content: space-between;
}
.profile img{
    margin: 10vh 0 0 5vw;
    height: 40vh;
    border-radius: 100%;
    filter: drop-shadow(0 0 15px #000);
}
.intro{
    margin: 12vh 6vw 0 0;
}
.intro h1{
    font-size: 4rem;
}
.intro p{
    text-align: justify;
}
.intro .name{
    color: #EE4540;
}